<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <base href="/"> 
    <script
      src="https://kit.fontawesome.com/625c7efa43.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.4.js" ></script>
    <link rel="stylesheet" href="/css/login-signup.css" />
  </head>
  <body>
    
    <seciton id="main">
      <secion id="side">
          <img src="/img/side.png" alt="shopping-illustrate">
      </secion>
      <h1>Profile</h1>
  </seciton>
  <button onclick="window.location.href='/myProfileUpdate'">Update Profile</button>
  <h1>Welcome, <%= name %>!</h1>
      <p><h3>ROLE:</h3> <%= role %></p>

      <% if (role === 'vendor') { %>
        <p><h3>Your business name :</h3> <%= businessName %></p>  
        <p><h3>Your business address :</h3> <%= businessAddress %></p>
      <% } else if (role === 'customer') { %>
        <p><h3>Your name :</h3> <%= name %> </p>
         <p> <h3>Your address :</h3> <%= address %></p>
      <% } else if (role === 'shipper') { %>
        <p><h3>Your Hub name :</h3> <%= hubName %> </p> 
        <p><h3>Your hub address :</h3> <%= hubAddress %></p>
      <% } %>

     <h3>Avatar</h3>
      <!-- <img src="data:image/png;base64, <%= image %>" alt="Profile Picture" style="width: 500px; height: 500px;"> -->
      <div class="profile-picture">
        <% if (profilePicture) { %>
          <% const base64Image = profilePicture.data.toString('base64'); %>
          <% const imageSrc = `data:${profilePicture.contentType};base64,${base64Image}`; %>
          <% const fileExtension = profilePicture.contentType.split('/')[1]; %>
          <% const imageSize = 'style="width: 500px; height: 500px;"'; %>
          <% if (fileExtension === 'png' || fileExtension === 'jpg' || fileExtension === 'jpeg') { %>
            <img src="<%= imageSrc %>" alt="Profile Picture" style="width: 500px; height: 500px;">
          <% } else if (fileExtension === 'svg+xml') { %>
            <object type="image/svg+xml" data="<%= imageSrc %>" style="width: 500px; height: 500px;"></object>
          <% } else { %>
            <p>Unsupported image file type.</p>
          <% } %>
        <% } else { %>
          <p>No profile picture uploaded yet.</p>
        <% } %>
      </div>
     


  <script src="/js/openMenu.js"></script>
  <script src="/js/checkPassword.js"></script>
  <script src="/js/shipper-create.js"></script>
  </body>
</html>
