<h2 class="text-center lh-base">Your Products</h2>
<div class="mt-3 p-3 rounded text-center">
  <div class="table-responsive">
    <table class="table bg-white table-striped">
      <thead>
        <tr class="bg-dark text-white">
          <th>Image</th>
          <th>Product Name</th>
          <th>Price</th>
          <th>Description</th>
          <th>Categories</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody id="cart-table-body">
        <% products.forEach(function(product) { %>
          <tr>
            <td><img src="/uploads/<%- product.image %>" alt="<%- product.name %>" loading="lazy" width="50" height="50"></td>
            <td><%= product.name %></td>
            <td><%= product.price %></td>
            <td><%= product.description %></td>
            <td><%= product.category %></td>
            <td><a href="/vendor/<%= product.id %>/update">Click here</a> </td>
            <td><a href="/vendor/<%= product.id %>/delete">Click here</a></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  <a class="fw-bold text-decoration-none btn btn-primary px-2 py-3 fs-5 mb-5" href="/vendor/submit-product">Add More Products</a>
</div>

