<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shipper</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap" rel="stylesheet" />
    <base href="/">
    <script src="https://kit.fontawesome.com/625c7efa43.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/shipper-dashboard.css">

</head>

<body>
    <nav class="sidebar bg-cover">
        <h2 class="lh-base pb-5 ps-2 pt-2">Welcome, name!</h2>
        <ul class="sidebar-list ">
            <li class="fw-bold fs-5">
                <a href="/shipper" class="icon"><img src="/img/dashboard-icon.png" alt="Dashboard icon"
                        width="46px" height="30px" class="pe-3"></a>
                <a href="/shipper" class="title">Dashboard</a>
            </li>
            <li class="fw-bold fs-5">
                <a href="" class="icon"><img src="/img/user.png" alt="User icon" width="46px" height="30px"
                        class="pe-3"></a>
                <a href="/myProfile" class="title">My Profile</a>
            </li>
            <li class="fs-5">
                <form action="/logout" method="GET">
                    <a href="/logout" class="icon"><img src="/img/logout.png" alt="Log out button" class="pe-3"></a>
                    <a href="/logout" class="title">Log out</a>
                </form>
            </li>
        </ul>
    </nav>
    <main class="dashboard">
     
<!-- Distribution hub containing the orders -->
<div id="dis-hub">
    <h2 class="pt-3 ps-5">Distribution <%= hubName %></h2>
    <% if (shipperOrders && shipperOrders.length > 0) { %>
      <h3 class="fw-light pt-3 ps-5">Active orders</h3>
  
      <div class="cards-container container d-flex">
        <% shipperOrders.forEach((order) => { %>
          <% if (order.orderStatus !== 'cancel' && order.orderStatus !== 'delivered') { %>
            <div class="order-card pt-2 pb-2 ps-3 mt-5">
              <h6 class="card-heading">Order ID</h6>
              <a href="/shipper/<%= order._id %>">
                <p class="order-id ps-5" id="show-overlay"><%= order._id %></p>
              </a>
              <h6 class="card-heading">Address</h6>
              <p class="cart-content fw-bold"><img src="/img/to-button.png" alt="To button" width="46px" height="30px"><%= order.customerAddress %></p>
              <h6 class="card-heading">Customer</h6>
              <p class="cart-content fw-bold"><%= order.customerName %></p>
              <h6 class="card-heading">Status</h6>
              <p class="active-status ps-5"><img src="/img/loading-bar.png" class="pe-2" alt="Loading bar"><%= order.orderStatus %></p>
              <form method="POST" action="/shipper/<%= order._id %>/delivered">
                <button type="submit">Accept</button>
              </form>              
              <form method="POST" action="/shipper/<%= order._id %>/cancel">
                <button type="submit">Cancel</button>
              </form> 
            </div>
          <% } %>
        <% }) %>
      </div>
  
    <% } else { %>
      <p>No active orders found.</p>
    <% } %>
  </div>
  
  

        <!--Order details-->
        <div class="ord-details px-3 py-2 position-fixed cursor-pointer">
            <button class="btn btn-close position-absolute cursor-pointer" id="hide-overlay"></button>
            <div id="overview">
                
                <h2>Order ID</h2>
                
                <div class="d-flex container general-info">
                    <div class="customer mt-2 p-3 pb-1 bg-white container">
                        
                        <h5 class="fw-light"><img src="/img/customer-icon.png" alt="Customer icon">Customer name</h5>
                        <p class="text-center">Name here</p>
                    </div>
                    <div class="address mt-2 p-3 pb-1 bg-white container">
                        <h5 class="fw-light"><img src="/img/map-icon.png" alt="Location icon">Address</h5>
                        <p class="text-center">Address here</p>
                    </div>
                </div>
            </div>
            <div id="items" class="mt-1">
                <h5>Item list</h5>
                <ul class="item">
                    <li>Name: Name here</li>
                    <li> Quantity: Quantity here</li>
                    <li> Price: Price here</li>
                </ul>
                <h6 class="total-price">Total price: $here</h6>
            </div>
            <div class="status">
                <label for="status" class="fs-5 fw-bold">Status</label>
                <select name="status" id="status" class="fw-light bg-light">
                    <option value="active">Active</option>
                    <option value="delivered">Delivered</option>
                    <option value="canceled">Canceled</option>
                </select>
                
            </div>
            
        </div>

    </main>

    <script src="/js/dashboard.js"></script>
</body>

</html>